<h1>{{name}}</h1>
<dl>
  <td>Nombre</td>
  <dd>{{name}}</dd>
  <td>Edad</td>
  <dd>{{age}}</dd>
  <td>Metodo</td>
  <dd>{{getHeroeDescription()}}</dd>
  <td>Capitalizado</td>
  <dd>{{capitalizeName}}</dd>
</dl>
<button *ngIf="name !== 'Spiderman'" (click)="changeHeroe()" class="btn btn-primary mx-2">Cambiar nombre</button>
<button *ngIf="age !== 25" (click)="changeAge()" class="btn btn-primary mx-2">Cambiar edad</button>
<button *ngIf="" (click)="resetForm()" class="btn btn-primary">Reset</button>
